{% extends "base.html" %}

{% block content %}
  {{ super() }}
<h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
  <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
  <div id="gitalk-container"></div>

<!--<script src="https://giscus.app/client.js" data-repo="Doge2077/haue-cs-wiki" data-repo-id="R_kgDOKBD3UQ"-->
<!--        data-category="Announcements" data-category-id="DIC_kwDOKBD3Uc4CYNeg" data-mapping="title"-->
<!--        data-reactions-enabled="1" data-emit-metadata="0" data-input-position="top" data-theme="light_protanopia"-->
<!--        data-lang="zh-CN" data-loading="lazy" crossorigin="anonymous" async>-->
<!--</script>-->

<script src="https://giscus.app/client.js"
        data-repo="Doge2077/haue-cs-wiki"
        data-repo-id="R_kgDOKBD3UQ"
        data-category="General"
        data-category-id="DIC_kwDOKBD3Uc4CYNef"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
{% endblock %}